<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.vaf" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shop"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.Login_activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Userdetail_activity"/>
        <activity android:name=".activity.Main_activity"/>
        <activity android:name=".activity.Regist_activity" />
        <activity android:name=".activity.Perfectuser_activity" />
        <activity android:name=".activity.Addshopdetail_activity" />
        <activity android:name=".activity.Address_activity" />
        <activity android:name=".activity.Allorderform_activity" />
        <activity android:name=".activity.Beforecriticism_activity" />
        <activity android:name=".activity.Criticism_detail" />
        <activity android:name=".activity.Dealorderform_activity" />
        <activity android:name=".activity.Shopdetail_activity" />
    </application>

</manifest>